.container{
    width: 85%;
    margin:auto;
    box-shadow: 0px 10px 20px lightgray;
    //border: 1px solid black;
   

    &--padded
    {
        padding: 1.25rem;
    }

    &--wide
    {
        width: 90%;
    }
}

